@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');

/* General Styles */
body {
    background: #000; /* Black background */
    color: #f5f5f5;
    font-family: 'PT Sans Caption', Arial, sans-serif;
    margin: 0;
    padding: 0;
 }
 
 /* Header */
 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000; /* Dark header background */
    padding: 20px;
    width: 357px;
    height: 80px;
    border: radius 0px;
    margin: 16px;
 }
 
 /* User Info */
 .user-info {
    display: flex;
    flex-direction: column;
 }
 
 .username {
    font-size: 21px;
    font-weight: bold;
    color: #1FB4FF; /* White */
    margin: 0;
 }
 
 .welcome-text {
    font-size: 21px;
    font-weight: bold;
    color: #ffffff; /* Blue */
    margin: 1px 0 0;
 }
 
 /* Profile Picture */
 .profile-pic {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #1fb4ff00; /* White border */
 }
 